{ load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

{%include 'footer.html'%}

</script>
<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; background-color:yellow ; margin-top:1%">
   Change company logo
</marquee>
<hr>

<form class="container mt-5" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Job Title</label>
            <input required type="text" class="form-control" readonly name="jobtitle" value="{{job.title}}" required >
        </div>
    </div>
    </div>

    <div class="form-row">
        
<div class="form-group col-md-12">
            <img src="{{job.image.url}}" width="120" height="98">    
    </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-12">
            <label>Company Logo</label>
            <input required type="file" class="form-control" name="logo" required>
        </div>
    </div>

            <input type="submit" value="Submit" class="btn-primary my-3" style="width:200px ; height:35px" >
</form>



{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Company logo has been added Successful");
    window.location = "{% url 'change_companylogo' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong. Please try again");
</script>
{% endif %}

{% endblock %}
