


{% load static %}

{% block body %}

{% include 'navigation.html' %}
<link rel="stlesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.css">


<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; background-color:yellow ; margin-top:1%">
 CONTACT US
</marquee>
<hr>



<div class="container mt-5">
<div class="row">
	<div class="col-sm-3">
		<h4 class="text-center"><i class="fas fa-phone-sqaure"></i> Contact</h4>
		<p class="text-center">+91 637272884</p>
</div>

<div class="col-sm-3">
		<h4 class="text-center"><i class="fas fa-envelope"></i> Email ID</h4>
		<p class="text-center">jobportal@gmail.com</p>
</div>

<div class="col-sm-3">
		<h4 class="text-center"><i class="fas fa-address-card"></i> Address ID</h4>
		<p class="text-center"> Fr. Agenls, Vashi</p>
</div>

<div class="col-sm-3">
		<h4 class="text-center"><i class="far fa-clock"></i> Timing</h4>
		<p class="text-center">10.00am - 7:00 am</p>
</div>

</div>
</div>

{% endblock %}