{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    background-color: #80B6DE;
  }

  tr:nth-child(odd) {
    background-color: #DEB887;
  }

  tr:hover {
    background-color: #F0E68C;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action-buttons a {
    margin: 2px;
  }
</style>

<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; background-color: yellow; margin-top: 1%">
  MANAGE JOB DETAILS
</marquee>
<hr>
<div class="container">
  <table class="table table-hover" id="example">
    <thead>
      <tr>
        <th>Sr.No.</th>
        <th>Job Title</th>
        <th>Creation Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for i in job %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.title }}</td>
        <td>{{ i.creationdate }}</td>
        <td class="action-buttons">
          <a href="{% url 'edit_jobdetail' i.id %}" class="btn btn-success btn-sm">Edit</a>
          <a href="{% url 'change_status' i.id %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
